pkgbase = jcode-bin
	pkgdesc = AI coding agent powered by Claude and ChatGPT
	pkgver = 0.72.0
	pkgrel = 1
	url = https://github.com/1jehuang/jcode
	arch = x86_64
	license = MIT
	provides = jcode
	conflicts = jcode
	source = https://github.com/1jehuang/jcode/releases/download/v0.72.0/jcode-linux-x86_64.tar.gz
	sha256sums = 60fcbfab6c92e63e32d8a7ff757b5696479b338de455e4eb17180cfc927743ed

pkgname = jcode-bin
